
/*@media (min-width: 1200px) {
    .container {
        max-width: 1600px !important;
    }
}*/

div#circle_slider {
    position: relative;
    overflow: hidden;
}

.carousel-inner {
    position: relative;
    width: 150%;
    overflow: hidden;
    left: -10%;
    min-width: 2000px;
    overflow: hidden;
}

.circle-slide .text-center {
    min-width: 550px;
}

.circle-text {
    width: 480px;
    height: 480px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 15px solid #a8a8a8;
    overflow: hidden;
    margin: auto;
}

.circle-text:after {
    content: "";
    display: block;

}

.circle-text .image-inner {
    float:left;
    width:100%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:white;
}

.circle_background img {
    width: 100%;
}

.circle_mask {
    height: 220px;
    overflow: hidden;
}

.circle-smaller .circle_mask {
    height: 10vw;
    overflow: hidden;
}

.white-section.no-padding {
    padding: 0;
}

.circle-text-top {

}

.circle-text-bottom {

}

.circle__inner {
    /*position: relative;*/
    /*top: 230px;*/
    /*bottom: 0;*/
    /*left: 35px;*/
    width: 100%;
    height: 100%;
}

.circle__wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

.circle__content {
    padding: 2% 0 0;
    /*vertical-align: middle;*/
    /*position: absolute;*/
    /*top: 23%;*/
    /*left: 20%;*/

}

.circle__content .circle-separator {
    padding: 0;
    margin: 3px;
}

.circle__content .title-row {
    font-size: 26px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 4px;
}

.date-row time {
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 1px;
    /* word-spacing: 9px; */
}

.circle__content .date-row {
    text-align: center;
    margin-top: 2px;
}

.countdown-row .countdown-item {
    background-color: #ff5f73;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
    width: 30px;
    height: 30px;
    margin: 3px 7px;
}

.countdown-row.circle_message span{
    color: #ff5f73;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    padding: 5px;
    font-weight: bold;
    height: 30px;
    margin: 3px 7px;
    font-size: 1.4em;
    display: inline-block;
}

.countdown-row {
    text-align: center;
    min-height: 48px;
}

.countdown-row .countdown-container {
    display: inline-block;
}

.countdown-label {
    font-size: 0.7em;
    line-height: 5px;
    margin-bottom: 0px;
}

.circle__content .price-box {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 14px 14px;
}

.circle__content .price-box .separator-price {
    color: #a8a8a8;
    font-weight: lighter;
}

.circle__content .price-box .old-price {
    color: #a8a8a8;
}

.circle__content .price-box .old-price-text{
    font-size:25px;
}

.circle__content .price-box .new-price {
    color: #ee265b;
    font-size: 30px;
}

.circle__content .join-item img {
    width: 42px;
    margin: 1% auto;
}

.latest-action {
    padding: 4% 0 0 0;
    text-align: center;
}

.typo-section-sq .structures-head {

    padding-right: 4%;

}

.circle-promo-wrapper {
    margin-bottom: 20px;
    margin-top: 20px;
}

.circle-promo:after {
    content: "";
    display: block;
    width: 100%;
    height:0;
    padding-bottom: 96%;
    border: 8px solid #ed255b;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: url(http://localhost/mycircle2/media/wysiwyg/banners/parco1.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
    /*background: url("http://localhost/mycircle2/media/wysiwyg/banners/parco1.jpg") no-repeat -30px -50px no-scroll;*/
}
.circle-promo .image-inner {
    /*float:left;*/
    width:100%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:white;
}

.white-section.no-padding {
    /*padding: 0;*/
}


.circle-promo-top {
    margin-right: -15%;
}
.circle-promo-bottom {
    margin-left: -15%;
}


.circle_promo_inner {
    position: relative;
    top: 165px;
    bottom: 0;
    left: 26px;
    width: 100%;
    height: 100%;
}

.circle_promo_wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

.circle_promo_content {
    padding: 1em 0 0.2em;
    vertical-align: middle;
    position: absolute;
    top: 23%;
    left: 20%;

}

.circle_promo_content .circle-separator {
    padding: 0;
    margin: 11px 0 4px 0px;
}

.circle_promo_content .title-row {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.circle_promo_content .date-row {
    text-align: center;
    margin-top: 5px;
}

.circle_promo_content .price-box {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}


.circle_promo_content .price-box .separator-price {
    color: #a8a8a8;
    font-weight: lighter;
}


.circle_promo_content .price-box .old-price {
    font-size: 25px;
    color: #a8a8a8;
    text-decoration: line-through;
    padding: 0;
    margin: 0;
    line-height: 18px;
}

.circle_promo_content .price-box .new-price {
    color: #ee265b;
}

.circle_promo_content .join-box {
    margin: auto;
}

.circle_promo_content .join-item img {
    width: 25%;
    margin: 3% 0 0 40%;
}

.latest-action {
    padding: 4% 0 0 0;
    text-align: center;
    width: 100%;
    padding: 4% 0 4% 0;
}

.typo-section-header-sq.structures-head {

    padding-left: 4%;
    width: 100%;

}

.typo-section-header-sq.structures-head h2{

    text-transform: uppercase;

}

.join-item a i{
    font-size: 40px;
    margin-top: 5px;
    color: #ff5f73;
}

.join-item a:hover i {
    font-size: 40px;
    margin-top: 5px;
    columns: #FF4066;
}
.circle-smaller .circle-text {
    width: 23vw;
    height: 23vw;
    border: 7px solid #f11e59;
}

.circle-text-container canvas {
    margin-bottom: -482px !important;
}

.circle-text-container .stars {
    margin-top: -30px;
    margin-bottom: 10px;
    font-size: 20px;
}
/*
.circle-text-container .stars i {
    text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
*/

.small-circle {
    width: 300px;
    height: 300px
}
.circle-text-container.small-circle-container canvas {
    margin-bottom: -257px !important;
}

.small-circle-container .circle_mask {
    height: 107px
}
.small-circle-container .stars {
    margin-top: -7px;
}
.small-circle-container .stars i {
    font-size: 26px
}

.circle-smaller .circle__content .price-box .old-price-text{
    font-size:1.5vw;
}

.circle-smaller .circle__content .price-box .new-price {
    color: #ee265b;
    font-size: 2vw;
}
.circle-smaller .circle__content .title-row {
    font-size: 1.8vw;
}

@media (max-width: 576px) {

    .circle-text {

        width: 350px;
        height: 350px;
    }

    .circle-text-container canvas {
        margin-bottom: -356px !important;
        width: 350px !important;
        height: 350px !important;
    }

    .circle-text-container.small-circle-container canvas {
        width: 250px !important;
        height: 250px !important;
    }

    button.slick-arrow.slick-prev {
        display: none !important;
    }
    button.slick-arrow.slick-next {
        display: none !important;
    }

    .circle_mask {
        height: 140px;
    }

    .circle__content .title-row {
        font-size: 20px;
        margin-bottom: 0px;
    }

    .date-row time {
        font-size: 13px;
        font-weight: normal;
        letter-spacing: 0px;
        /* word-spacing: 9px; */
    }

    .countdown-row .countdown-item {
        padding: 3px;
        width: 25px;
        height: 25px;
    }

    .circle__content .price-box {
        font-size: 15px;
        padding: 4px 14px;
    }

    .circle__content .price-box .new-price {
        font-size: 20px;
        padding: 4px 14px;
    }

    .join-item a i {
        font-size: 28px;
        margin-top: 5px;
        color: #ff5f73;
    }


}

@media only screen and (max-width: 767px) {

    .carousel-sq.spread-sq .slick-next {
        display: none;
    }

    .slick-next:before {
        content: "";
    }

    .slick-prev:before {
        content: "\e96f";
    }


    .carousel-sq.spread-sq .slick-prev {
        display: none;
    }

    .circle-text {

        margin: auto !important;
        border: 10px solid #a8a8a8;
        margin-bottom: 50px;
    }

    .button-sq.small-sq {
        font-size: 11px;
        padding: 0.8em 0.4em;
        letter-spacing: 0px;
        text-transform: uppercase;
        margin: 11px 15px 0 15px;
    }

    .carousel-sq.center-sq .slick-list .slick-track .slick-slide {
        margin: 0 12px;
    }

    .circle__content .price-box {
        font-size: 18px;
    }
    .circle__content .join-item img {
        width: 14%;
    }

    .countdown-detail {
        text-align: center !important;
    }

    .social-detail {
        margin-top: 30px;
    }

    .circle__content .title-row {
        font-size: 26px;
    }
    .circle-smaller .circle-text {
        width: 96vw;
        height: 96vw;
    }
    .circle-smaller .circle_mask {
        height: 45vw;
    }
    .circle-smaller .circle__content .title-row {
        font-size: 6vw;
    }
    .circle-smaller .circle-main-details {
        padding: 8px
    }
    .circle-smaller .price-box .old-price-text {
        font-size: 4.5vw !important;
    }
    .circle-smaller .circle__content .price-box .new-price {
        font-size: 7.5vw;
    }
}

/* Large Monitor */
@media only screen and (min-width: 768px) and (max-width: 992px) {

    .circle-text {
        border: 15px solid #a8a8a8;
    }

    .button-sq.small-sq {
        font-size: 11px;
        padding: 0.8em 0.4em;
        letter-spacing: 0px;
        text-transform: uppercase;
        margin: 11px 15px 0 15px;
    }


    .circle__content .title-row {
        font-size: 26px;
    }
    .circle-smaller .circle-text {
        width: 46vw;
        height: 46vw;
    }
    .circle-smaller .circle_mask {
        height: 20vw;
    }
    .circle-smaller .circle__content .title-row {
        font-size: 3vw;
    }
    .circle-smaller .circle-main-details {
        padding: 6px
    }
    .circle-smaller .price-box .old-price-text {
        font-size: 2.5vw !important;
    }
    .circle-smaller .circle__content .price-box .new-price {
        font-size: 3.5vw;
    }


}
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .circle-smaller .circle-text {
        width: 30vw;
        height: 30vw;
    }

}

/*!* Large Monitor *!*/
/*@media only screen and (min-width: 977px) and (max-width: 1199px) {*/

    /*.circle-text {*/
        /*width: 325px;*/
        /*height: 325px;*/
    /*}*/

    /*!*.circle-text:after {*!*/
        /*!*padding-bottom: 325px;*!*/
        /*!*padding-left: 325px;*!*/
    /*!*}*!*/


    /*.circle_promo_content .title-row {*/
        /*font-size: 20px;*/
        /*font-weight: bold;*/
        /*text-align: center;*/
    /*}*/

    /*.circle_promo_content .price-box .old-price {*/

    /*}*/

    /*.circle_promo_content .price-box {*/
        /*text-align: center;*/
        /*font-size: 28px;*/
        /*font-weight: bold;*/
    /*}*/

    /*.circle_promo_inner {*/
        /*top: 125px;*/
        /*left: 29px;*/
    /*}*/
    /*.circle_promo_content .circle-separator {*/
        /*margin: 4px 0 4px 0px;*/
    /*}*/

    /*.circle_promo_content .join-item img {*/
        /*width: 25%;*/
        /*margin: 0% 0 0 31%;*/
    /*}*/

    /*.circle__inner {*/
        /*!*position: relative;*!*/
        /*!*top: 164px;*!*/
        /*!*bottom: 0;*!*/
        /*!*left: 14px;*!*/
        /*!*width: 100%;*!*/
        /*!*height: 100%;*!*/
        /*font-size: 0.8em;*/
    /*}*/
    /*.circle__content .date-row {*/
        /*margin-top: 0px;*/
        /*line-height: 12px;*/
    /*}*/

    /*.countdown-row {*/
        /*margin-left: 12%;*/
        /*margin-top: 5px;*/
    /*}*/

    /*.countdown-row .countdown-item {*/

        /*margin: 3px;*/
    /*}*/

    /*.circle__content .price-box {*/
        /*font-size: 18px;*/
    /*}*/
    /*.circle__content .join-item img {*/
        /*width: 14%;*/
    /*}*/




/*}*/

/* Large Monitor */
@media only screen and (min-width: 1199px) and (max-width: 1650px) {

    .circle_promo_content .title-row {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
    }

    .circle_promo_content .price-box .old-price {

    }

    .circle_promo_content .price-box {
        text-align: center;
        font-size: 35px;
        font-weight: bold;
    }

}



/* Wide Monitor */
@media only screen and (min-width: 1920px) {

    .circle_promo_content .title-row {
        font-size: 22px;
        font-weight: bold;
        text-align: center;
    }

    .circle_promo_content .price-box .old-price {

    }

    .circle_promo_content .price-box {
        text-align: center;
        font-size: 28px;
        font-weight: bold;
    }

    .circle_promo_inner {
        top: 125px;
        left: 29px;
    }
    .circle_promo_content .circle-separator {
        margin: 4px 0 4px 0px;
    }

    .circle_promo_content .join-item img {
        width: 25%;
        margin: 0% 0 0 31%;
    }

}


.circle-text-container .stars {
    margin-top: -30px;
    margin-bottom: 10px;
    font-size: 20px;
}
/*
.circle-text-container .stars i {
    text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
*/

.small-circle {
    width: 250px;
    height: 250px
}

.small-circle .price-box {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 14px;
}

.small-circle .price-box span{
    padding: 0px 8px;
}

.small-circle .stars {
    margin-bottom: 5px;
}

.small-circle .price-box .new-price {
    font-size: 1em;
}

.circle-text-container.small-circle-container canvas {
    margin-bottom: -257px !important;
}

.small-circle-container .circle_mask {
    height: 107px
}
.small-circle-container .stars {
    margin-top: -7px;
}
.small-circle-container .stars i {
    font-size: 26px
}

#search-form .form-control {
    height: calc(2.875rem + 30px);
    padding: 20px;
}

#search-form .react-datepicker-wrapper .form-control {
    padding: 4px;
}

#search-form button {
    padding: 22px;
}

.container-fluid.middle-page {
    width: 75%;
}

.circle-text.circle-text-top.small-circle {
    border: 5px solid #a8a8a8;
}